<div class="top">
	<%= image_tag("om_logo.png", :id => "om_logo") %>
</div>
<div class="intro">
	<h1 class="blue">Welcome to Om Crafts</h1>
	<h2>Beautiful one-of-a-kind hand crafted decorative pieces</h2>
</div>

<div class="om_bg"></div>

<div class="gallery">
	<h1 class="orange">Gallery</h1>
	<h2>Take a look at the various items we provide. All are hand made</h2>
</div>

<div class="decoration_bg"></div>

<div class="contact">
	<h1 class="blue">Contact</h1>
	<h2>Do you like what you see? Contact Anupama Bhat </h2>
</div>