<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="" style="padding: 0 10px">
      <%= link_to "OM Crafts", 'http://www.omcrafts.com', id: "logo" %>
    </div>
  </div>
</header>